@tailwind base;
@tailwind components;
@tailwind utilities;


/* Stream Chat OVerrides */
.str-chat__channel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, #C9E8C9, #B7E7BB);
}

.str-chat__container{
    width: 100%;
    max-width: 1200px;
    height: 80% !important;
    margin: 0 auto !important;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.str-chat__list{
    background-color: #ffffff;
    padding: 12px;
}

.str-chat__list-notifications{
    display: none;
}

.str-chat__message-input{
    border-top: 1px solid #dddddd;
}